@page
@model E_Magazine.Pages.IndexModel
@{
}
<div class="container">
	<h3>
		Добро пожаловать на страницу электронного журнала!
	</h3>
	<p>
		Электронный журнал EMagazine имеет функции для эффективной работы ученика и преподавателя:
		<ul>
			<li>Позволяет учителю оценивать прогресс ученика с помощью системы оценивания</li>
			<li>Позволяет автоматически создавать записи в соответствующих таблицах базы данных за счет системы парсинга документов</li>
			<li>Контролирует целостность и достаточность данных для работы</li>
			<li>Позволяет вручную управлять имеющимися данными</li>
		</ul>
	</p>
	<p>		
		<a href="/login">Войдите</a> в личный кабинет чтобы перейти к работе
	</p>
</div>
